.form{
 @include dashboardStyles(linear-gradient(to left bottom, transparent 10%, #fff 90%));
 min-height:70vh;

 &-control{
   display:grid;
   grid-template-columns:1fr;

  padding:1rem;
  margin: 1rem 0;
  &__label{
    color:white;
    font-weight:600;
    text-decoration:none;
    border:0;
  }
  input{
    margin: 0.5rem 0;
    font-size:1rem;
    padding: 0.5rem;
    outline: none;
  }
  &__error{
    color:$orangeRed;
display:none;
font-size: 0.8rem;
  }


 }
 .show{
  display:block;
  transition: all 0.3s ease;
}
 .hide{
  display:none;
  transition: all 0.3s ease;
}

 &-button{
   display: grid;
   grid-template-columns: 1fr;
   gap:1rem;
// align-items: center;
  justify-items: center;
justify-content:center;
  margin-bottom: 1rem;
  a{
    font-weight:bolder;
    color:$light;
    &:hover,&:focus{
      color:$cornflowerBlue;
    }
  }
 }

 .circle{
   width:2rem;
   height:2rem;
   background:linear-gradient(to left bottom, white 10%, $blue 90%);;
   position: absolute;
   top:0%;
   right:0%;
   z-index: 6;
   border-radius: 100%;
 }
}


